numpy
scipy
jupyter
matplotlib
pandas
seaborn
networkx
PennyLane
qiskit
qiskit-nature
pyscf
qiskit-algorithms
pylatexenc
qiskit-aer
nlopt
qiskit-ibm-runtime
qiskit-machine-learning
openpyxl
scikit-learn
imbalanced-learn
